/********** common *************/

@charset "utf-8";
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-condensed.ttf');
}

[v-cloak] {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'helvetica', Helvetica, Arial, sans-serif;
}

img {
    border: 0;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
dl {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #F5F9FD;
}

.container-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.container-1920 {
    max-width: 1920px;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

.orange {
    color: #f26519;
}

.blue {
    color: #687dd8 !important;
}

.white {
    color: #fff !important;
}

.green {
    color: #50903e !important;
}

.no-show {
    display: none;
}

input::-webkit-input-placeholder {
    color: #c9c9c9 !important;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c9c9c9 !important;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c9c9c9 !important;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c9c9c9 !important;
}


/* header */

.navbar {
    min-height: 80px;
    border: none;
}

.navbar a {
    color: #262626;
    font-weight: bold;
}

.navbar .navbar-brand>img {
    display: inline-block;
}

.navbar .navbar-brand>span {
    display: inline-block;
    font-size: 30px;
    color: #687dd8;
    padding-top: 5px;
    vertical-align: middle;
    margin-left: 10px;
    font-style: oblique;
}

.navbar-toggle {
    background-color: #eee;
    color: #333;
    border-radius: 4px;
    margin-top: 30px;
}

.navbar-toggle .icon-bar {
    background-color: #e4353c;
}

.navbar-header a {
    line-height: 80px;
    font-size: 16px;
    color: white;
    font-weight: 400;
    font-family: '微软雅黑';
    position: relative;
}

.navbar-header>a {
    display: block;
    float: left;
    white-space: nowrap;
}

.firstlink {
    margin-left: 50px;
    position: relative;
}

.firstlink.index,
.firstlink .actived {
    color: #42A0CD;
}

.firstlink.index::after {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: #42A0CD;
    top: 54px;
    left: 15%;
}

.search {
    float: right;
    margin-top: 19px;
}

.search>div {
    float: left;
    /* border-radius: 10px; */
    /* overflow: hidden; */
}

.search input {
    padding: 0;
    padding: 0 25px;
    margin-top: 5px;
    background-color: white;
    width: 450px;
    height: 35px;
    outline: none;
    border: none;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 12px;
}

.btnsearch {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    border: 1px solid transparent;
    outline: none;
    width: 60px;
    height: 35px;
    background-color: white;
    /* padding-right: 10px; */
    padding-left: 14px;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.language {
    font-family: "微软雅黑";
    color: white;
    width: 100px;
    height: 44px;
    margin-left: 15px;
}

.language>div {
    width: 110px;
    height: 44px;
    /* background-color: #1C2340; */
    position: relative;
    line-height: 44px;
    padding-left: 10px;
    cursor: pointer;
    z-index: 9999;
}

.language div:nth-child(2) {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px 0px rgba(39, 45, 71, 0.19);
    border-radius: 10px;
    color: #333;
}

.hover>div:nth-child(2):hover {
    color: #42A0CD;
}

.language img {
    width: 35px;
    vertical-align: middle;
}


/* index */

.superNode>div:nth-child(1) {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 363px;
    box-sizing: border-box;
    align-content: space-between;
    padding-top: 36px;
    padding-bottom: 28px;
}

.count {
    width: 294px;
    height: 146px;
    box-shadow: 0px 4px 7px 0px rgba(92, 111, 198, 0.4);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 39px 19px;
    position: relative;
    background: #fff;
    padding-left: 40px;
}

.icon {
    position: absolute;
    width: 67px;
    height: 67px;
}

.updateTime {
    background: url('../images/updateTime.png');
}

.contractCurrency {
    background: url('../images/contractCurrency.png');
}

.globalNodes {
    background: url('../images/globalNodes.png');
}

.superNodes {
    background: url('../images/superNodes.png');
}

.storageSpace {
    background: url('../images/storageSpace.png');
}

.yesterday {
    background: url('../images/yesterday.png');
}

.ideal {
    background: url('../images/ideal.png');
}

.digging {
    background: url('../images/digging.png');
}

.counttitle {
    font-size: 14px;
    color: #888B9B;
    position: absolute;
    left: 122px;
    top: 79px;
}

.num {
    font-size: 18px;
    color: #192088;
    position: absolute;
    left: 122px;
    font-weight: 700;
    top: 46px;
}

.iconwenhao {
    position: absolute;
    width: 12px;
    height: 12px;
    background: url('../images/iconwenhao.png');
    bottom: 4px;
    right: -20px;
    cursor: pointer;
}

.wenhaoshuoming {
    min-width: 208px;
    min-height: 95px;
    background: url('../images/wenhaoshuoming.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 13px;
    right: -98px;
    z-index: 9;
    box-sizing: border-box;
    padding: 33px 20px 14px 20px;
    font-size: 12px;
    color: #888B9B;
    display: none;
    /* position: relative; */
    position: absolute;
}

.iconwenhao:hover .wenhaoshuoming {
    display: block;
}

.superNode>div:nth-child(2) {
    height: 350px;
    /* overflow: hidden; */
    box-sizing: border-box;
    margin-bottom: 30px;
}

.history,
.map {
    float: left;
    width: 595px;
    height: 350px;
    box-shadow: 0px 0px 3px 0px rgba(33, 33, 33, 0.3);
    background: #fff;
}

.map {
    margin-left: 10px;
}

.maptitle {
    height: 56px;
    padding-left: 44px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 56px;
    font-weight: 400;
    background: url('../images/globalLocation.png') no-repeat 20px center;
}

.tabtable-contain {
    box-shadow: 0px 4px 16px 0px rgba(92, 111, 198, 0.2);
    margin: 0 auto;
    /* height: 689px; */
    box-sizing: border-box;
    background: #fff;
}

.tabtable {
    overflow: hidden;
}

.tabtable li {
    float: left;
    width: 161px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid rgba(247, 248, 248, 1);
    cursor: pointer;
}

.tabtable li:hover,
.tabtable li.actived {
    border-top: 3px solid #42A0CD;
    line-height: 39px;
    color: #42A0CD;
}

.table-contain {
    box-shadow: 0px 4px 16px 0px rgba(92, 111, 198, 0.2);
    margin: 0 auto;
    /* height: 689px; */
    box-sizing: border-box;
    padding: 20px 20px 30px 20px;
    background: #fff;
}


/*******packingNodeTable***********/

.allpacking {
    width: 1200px;
    box-shadow: 1px 1px 10px #ededed;
    box-sizing: border-box;
    padding: 20px 20px;
    background: #fff;
}

.allpackingTitle {
    height: 42px;
    background-color: #E3F1F8;
    padding: 0 20px;
}

.allpackingTitle li {
    float: left;
    font-weight: 400;
    line-height: 42px;
}

.allpackingTitle li:nth-child(1) {
    width: 31px;
    margin-right: 11px;
}

.allpackingTitle li:nth-child(2) {
    width: 128px;
}

.allpackingTitle li:nth-child(3) {
    width: 132px;
}

.allpackingTitle li:nth-child(4) {
    width: 120px;
}

.allpackingTitle li:nth-child(5) {
    width: 180px;
}

.allpackingTitle li:nth-child(6) {
    width: 121px;
}

.allpackingTitle li:nth-child(7) {
    width: 123px;
}

.allpackingTitle li:nth-child(8) {
    width: 115px;
}

.allpackingTitle li:nth-child(9) {
    width: 88px;
}

.allpackingTitle li:nth-child(10) {
    width: 32px;
}

.allpackingTable>.lili>span {
    float: left;
    position: relative;
}

.allpackingTable>.lili span:nth-child(1) {
    width: 31px;
    padding-left: 20px;
    padding-right: 42px;
}

.allpackingTable>.lili span:nth-child(2) {
    padding-right: 20px;
}

.allpackingTable>.lili span:nth-child(3) {
    width: 132px;
    padding-right: 18px;
}

.allpackingTable>.lili span:nth-child(4) {
    width: 120px;
}

.allpackingTable>.lili span:nth-child(5) {
    width: 180px;
    padding-right: 42px;
}

.allpackingTable>.lili span:nth-child(6) {
    width: 121px;
    padding-right: 43px;
}

.allpackingTable>.lili span:nth-child(7) {
    width: 123px;
    padding-right: 38px;
}

.allpackingTable>.lili span:nth-child(8) {
    width: 115px;
    padding-right: 27px;
}

.allpackingTable>.lili span:nth-child(9) {
    width: 88px;
    padding-right: 42px;
}

.allpackingTable>.lili span:nth-child(10) {
    width: 61px;
    padding-right: 20px;
}

.superNode .lili {
    height: 74px;
    line-height: 74px;
    border-bottom: 1px solid #E4E4E4;
}

.superNode .lili:last-child {
    border-bottom: none;
}

span.canclick {
    color: #42A0CD;
    cursor: pointer;
}

span.canclick:hover {
    text-decoration: underline;
}

span.short i {
    display: none;
    position: absolute;
    padding: 0 18px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    font-style: normal;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px;
    left: -120px;
    top: 62px;
    z-index: 1000;
    word-break: normal;
}

span.short i::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 49%;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, .5);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
}

span.short:nth-child(1) i,
span.long i {
    left: -30px;
}

span.long i {
    left: -30px;
}

span.short:nth-child(1) i::before,
span.long i::before {
    left: 20%;
}

span.short:hover i {
    display: block;
}

span.vote {
    padding: 20px 0;
    height: 74px;
    position: relative;
}

span.vote a {
    display: block;
    width: 60px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #333;
    border: 1px solid rgba(66, 160, 205, 1);
    border-radius: 4px;
}

span.vote a:hover {
    background: rgba(66, 160, 205, 1);
    color: #fff;
}

span.vote a:hover .qrcode {
    display: block;
}

span.vote .qrcode {
    display: none;
    position: absolute;
    top: 69px;
    left: -66px;
    width: 138px;
    height: 138px;
    padding: 5px;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 2px 15px 0px rgba(6, 62, 89, 0.34);
}

span.vote .qrcode::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 65%;
    border-top: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid #fff;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
}

span.vote .qrcode img {
    width: 128px;
    height: 128px;
}

.navbar-header>a {
    display: block;
    float: left;
    white-space: nowrap;
}

.allpacking {
    box-shadow: 1px 1px 10px #ededed;
    box-sizing: border-box;
    padding: 20px 20px;
    background: #fff;
}


/************ page ************/

.page {
    min-height: 50px;
    text-align: center;
    color: #888;
    margin: 20px auto 0;
    background: #f2f2f2;
}

.pageList {
    font-size: 0;
    background: #fff;
    height: 50px;
}

.pageList span {
    font-size: 14px;
}

.pageList .jump {
    padding: 7px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.pageList .bgPrimary {
    cursor: default;
    color: #fff;
    background: #42A0CD;
}

.pageList .jump:hover {
    cursor: default;
    color: #fff;
    background: #42A0CD;
    border-color: #42A0CD;
}

.jumpInput input {
    width: 50px;
    height: 20px;
    font-size: 12px;
    border: 1px solid rgba(102, 102, 102, 1);
    border-radius: 4px;
    text-align: center;
    vertical-align: baseline;
}

.jumpInput input:focus {
    border-color: #42A0CD;
}

.ellipsis {
    padding: 0 8px;
}

.jumpPoint {
    margin-left: 8px;
    font-size: 12px;
}

.jumpInput {
    margin-left: 9px;
}

.pageList .goBtn {
    padding: 2px 5px;
    font-size: 12px;
    border: 1px solid rgba(102, 102, 102, 1);
    border-radius: 4px;
    text-align: center;
    margin-left: 4px;
    vertical-align: baseline;
}

.bgPrimary {
    cursor: default;
    color: #fff;
    background: #337ab7;
    border-color: #337ab7;
}

.pageList .jump.disabled {
    pointer-events: none;
    background: #ddd;
    display: none;
}


/************** footer ***************/

.footer {
    color: #fff;
    background-color: #575757;
    padding-top: 15px;
    padding-bottom: 15px;
}

.index-footer {
    background-color: #515350;
    width: 100%;
    font-size: 14px;
    padding-top: 29px;
    padding-bottom: 29px;
    text-align: center;
    letter-spacing: 1px;
}


/* el-table */

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background-color: #ecedf5;
}

.supernodetable .el-table__body tr.el-table__row--striped td {
    background-color: #fff;
}

@media (min-width: 1200px) {
    .firstlink {
        margin-left: 50px;
    }
    .search input {
        width: 260px
    }
}